<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/Content/css/bootstrap/css.bootstrap.css" media="screen">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/Content/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/Contents/js/scripts.js"></script>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="header">
      <a href="/">Home</a>
      <a href="/clients">Clients</a>
      <a href="/stylists">Stylists</a>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
